.banner{
    background-image: linear-gradient(to right, #2a5298, rgba(30, 60, 114, 0.59)),url(../img/banner.jpg);
    background-size: cover;
}
.aboutme{
	position: relative;
}
h3.about{
	position: absolute;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 5px;
	transform: rotate(90deg);
    right: -38%;
    top: 112%;
    color: #333;
}
.number{
	color: #2a5298;
}
.servicebox{
	box-shadow: 0px 2px 5px 2px rgba(76, 110, 245, .1);
	background-color: #fff;
}
.worked{
	background-image: linear-gradient(to right, #e36596, rgba(30, 60, 114, 0.59)),url(../img/banner.jpg);
	background-size: cover;
}

.portfoliocover{ 
    position:relative;
    transform: scale(1);
    transition: .35s all;
}
.portfoliocover:hover .portfoliosocial{
    content: '';
    position: absolute; 
    height: 100%;
    width: 100%;
    background-color: #00000095;
    left:0;
    top: 0; 
	display: inline-block;
    transform: scale(0.9);
    
}
.portfoliosocial{
	padding-top: 30%;
	display: none;
}
.imgnav{
    width:7%;
}
.imgnavtab{
    width:20%;
}
.search{
	color:#3b5998;
	background-color: #fff;
	padding:4px;
	border-radius:50%;
	font-size:25px;
	margin-right:20px;
}
.link{
	color: #1DA1F2;
	background-color: #fff;
	padding:4px;
	border-radius:50%;
	font-size:25px;
	margin-right:20px;
}